/* Styles by SG */
:root   {
    --white: #fff;
    --black: #000;
    --lightBlue: #09BCBE;
    --darkBlue: #062B55;
    --darkPink: #e4405f;
}
.pr-2r {
    padding-right: 2rem!important;
}
.pl-2r {
    padding-left: 2rem!important;
}
.badge {
    background-color: #707070 !important;
}
.btn-danger {
    background: var(--darkPink) !important;
}
.btn-danger:hover {
    background: var(--white) !important;
    border-color: var(--darkPink) !important;
    color: var(--darkPink) !important;
}
.btn-outline-danger {
    border-color: var(--darkPink) !important;
}
.btn-outline-danger:hover {
    background: var(--darkPink) !important;
}
.bar {
    height: 13px;
    background: var(--darkBlue);
}
.navbar-brand img{
    width: 456px;
}
.nav-item .nav-link{
    padding: 0px !important;
}
.nav-item:hover .nav-link{
    color: var(--lightBlue) !important;
    border-bottom: 1px solid var(--lightBlue);
}
.dropdown-item:hover{
    color: var(--lightBlue) !important;
    background-color: var(--white);
}
.nav-item.active .nav-link{
    color: var(--lightBlue) !important;
    border-bottom: 1px solid var(--lightBlue);
}
.navbar ul .nav-item{
    padding-left: 1.7rem !important;
}
.home-image {
    background: black url('../images/Clip.png');
    height: 440px;
    color: var(--white);
}
.home-title {
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
}
.home-subtitle {
    color: var(--white);
    font-size: 20px;
}
.services-list {
    list-style-type: none;
    padding-left: 0px;
}
.services-list li {
    display: inline-block;
    margin-right: 20px;
}
.services-list li img{
    width: 46px;
    height: 38px;
    margin-bottom: 24px;
}
.service-title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 15px;
}
.rounded-25 {
    border-radius: 25px;
}
.products {
    margin-top: -65px;
}
.card-header{
    background: #E2E2E2;
}
.card-header p{
    font-size: 14px;
    font-weight: 700;
}
img{
    margin-top: 0px;
    max-width: 100%;
    height: auto;
}
.top-choices .card .product-image{
    margin-top: -20px;
    width: 160px;
}
.fa-star {
    color: #F3B42C;
}
.top-choices .card, .sidebar-right .card {
    box-shadow: 0px 7px 25px #C1DDEE !important;
}
.top-choices .card .product-details-list {
    list-style-type: none;
    padding-left:0px;
}
.top-choices .card .product-details-list li{
    color: #575F72;
    font-size: 16px;
    margin-bottom: 12px;
}
.top-choices .card .product-details-list li:before {
    content: '✓';
    font-weight: bold;
    padding-right: 7px;
}
.product-pricing .top-choice-wrapper{
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
}
.rating-wrapper {
    font-size: 15px;
}
.rating-pt {
    font-size: 31px;
    font-weight: bold;
    color: var(--black);
    padding-left: 7px;
}
.product-count{
    color: #A5A5A5;
    font-size: 31px;
    font-weight: bold;
}
.card-title {
    color: #09BCBE;
    font-size: 28px;
    font-weight: bold;
}

.icon-wrapper {
    background: #C6F6F7;
    border-radius: 20px;
    padding: 12px;
    width: 52px;
    height: 52px;
}
.sidebar-list-title {
    font-weight: 700;
}
.sidebar-list-desc {
    font-size: 14px;
}
.editorial-name {
    color: var(--darkBlue);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.lm-link {
    color: var(--lightBlue);
    font-size: 14px;
    border-bottom: 1px solid var(--lightBlue);  
}
.text-lightblue {
    color: var(--lightBlue);
}
.f-14 {
    font-size: 14px !important;
}
#Footer-section {
    height: 130px;
    background: #062B55;
}
.footer-nav {
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.footer-nav li{
    display: inline-block;
    padding-left: 20px;
    color: var(--white);
}
.footer-nav li a{
    color: var(--white);
}
.footer-nav li a:hover{
    color: var(--darkPink);
}
@media only screen and (max-width:600px) {
    .navbar-brand img{
        width: 256px;
    }
    .nav-item.active .nav-link{
        color: var(--lightBlue) !important;
        border-bottom: none;
    }
    .nav-item:hover .nav-link{
        color: var(--lightBlue) !important;
        border-bottom: none;
    }
}
